body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #aaeb14;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #197225;
}

#qrCode {
    -webkit-margin-top-collapse: 20px;
}
